* {
    box-sizing: border-box;
}

div,input{
    width: 300px;
}
div {
    border: 1px solid #000;
    margin: 2px 0 10px 0;
    background-color: gold;
    color: brown;
    padding: 5px;
    border-radius: 5px;
    display: none;
}
button{
    display: block;
    margin-top: 10px;
}